<!DOCTYPE html>
<html>
<head>
	<title>Social Link</title>
    {% load static %}
	<link rel="stylesheet" href="{% static 'socialLink/style.css' %}">
</head>
<body>
	<div class="header">
		<h1>SocialLink</h1>
	</div>


	<div class="search">
		<label for="search">Name to search for: <input type="text"></label>
		<button>Search</button>
	</div>

	<div class="previews">
		<div class="linkedin">
			<h1>LinkedIn</h1>
			<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
			<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/samy-achour-035218b3" data-format="inline" data-related="false"></script>
		</div>


		<div class="twitter">
			<h1>Twitter</h1>
            {% for tweet in tweets %}
            <div class="tweet">
				<p class="tweet-body">{{ tweet.body }}</p>
				<p class="tweet-date">{{ tweet.date }}</p>
			</div>
            {% endfor %}
		</div>
	</div>
</body>
</html>
