<!DOCTYPE html>
<html>
<head>
	<title>Social Link</title>
    {% load static %}
	<link rel="stylesheet" href="{% static 'socialLink/style.css' %}">
	<script>
		function setText(){
		    var inputField = document.getElementById('search');
		    inputField.value = '{{linkedInUrl}}';
		    console.log('{{linkedInUrl}}');
		}
	</script>
</head>
<body onload="setText()">
	<div class="header">
		<h1>SocialLink</h1>
	</div>


	<div class="search">
		<label for="search" >LinkedIn URL to search for: <input type="text" id="search" class="search-input"></label>
		<button onclick="function sendUrl() {
			var linkedURL = document.getElementById('search').value;
			console.log(document.getElementById('search').value);
			var newURL = '/?linked=' + linkedURL;
		    window.location.replace(newURL);
		}
		sendUrl()">Search</button>
	</div>

	<div class="previews">
		<div class="linkedin">
			<h1>LinkedIn</h1>
			<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
			<script type="IN/MemberProfile" data-id="{{linkedInUrl}}" data-format="inline" data-related="false"></script>
		</div>


		<div class="twitter">
			<h1>Twitter</h1>
            {% for tweet in tweets %}
            <div class="tweet">
				<p class="tweet-body">{{ tweet.body }}</p>
				<p class="tweet-date">{{ tweet.date }}</p>
			</div>
            {% endfor %}
		</div>
	</div>
</body>
</html>
